@model CourseWork.WebApp.Models.AircompanyViewModel

@{
    ViewData["Title"] = "View";
}

<a asp-controller="Aircompany" asp-action="Index" class="btn btn-sm btn-info">Вернуться на главную</a>

<h1>Информация о аэрокомпании</h1>

<p style="font-size: 40px">Имя: @Model.Name</p>

<p style="font-size: 40px">Колличество аэропортов: @Model.CountAirpotrs</p>

<p style="font-size: 40px">Количество самолетов: @Model.CountAirpanes</p>

<p style="font-size: 40px">Аэропорты: <a asp-controller="Aircompany" asp-action="CreateAirport" class="btn btn-sm btn-success">Добавить аэропорт</a></p>

<form asp-action="DeleteAirport">
    <input type="submit" value="Удалить" class="btn btn-sm btn-danger" />
</form>

@{
    int count = 1;
}

@if (Model.Airports.Count == 0)
{
    <p style="font-size: 30px">Аэропортов нет!</p>
}
else
{
    @foreach (var airport in Model.Airports)
    {
    <p style="font-size: 30px">№: @(count++)</p>
    <p style="font-size: 30px">Название: @airport.Name</p>
    <p style="font-size: 30px">Колличество самолетов: @airport.CountAirplane</p>
    <p style="font-size: 30px">Самолеты: </p>
    <p style="font-size: 30px"><a asp-controller="Aircompany" asp-action="CreateAirplane" asp-route-name_airport="@airport.Name" class="btn btn-sm btn-success">Добавить самолет</a></p>
        <form asp-action="DeleteAirplane" asp-route-name_airport="@airport.Name">
            <input type="submit" value="Удалить" class="btn btn-sm btn-danger" />
        </form>
    @if (airport.Airplanes.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Бренд</th>
                    <th>Год производства</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach(var airplane in airport.Airplanes)
                {
                    <tr>
                        <td></td>
                        <td>@(i++)</td>
                        <td>@airplane.Brand</td>
                        <td>@airplane.YearofManufacture</td>
                    </tr>
                }
            </tbody>
        </table>
        
    }
    else
    {
        <p>Самолетов в аэропорту нет!</p>
    }
    <br />
    <br />
    
}
}

